.committee-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap:30px;
}

.committee-card {
  width: calc(33.33% - 20px); /* Adjust as needed */
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

.committee-card-body {
  padding: 10px;
 
}

.committee-card-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.committee-card-options {
  display: flex;
 font-size: 0.6rem;
 gap:10px;
  justify-content: space-around;
}
